body {margin:0;}
* {
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #262626;
}
.topnav {
    overflow: hidden;
    background-color: #012169;
  }
.topnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
.topnav li {
    float: left;
}
.topnav li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
    font-size: large;
  }
.topnav li:last-child {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right: none;
    margin-right: 70px;
    font-size: x-large;
  } 
.topnav a:hover {
    background-color: #00539B;
  }
.column {
    float: left;
    padding-top: 50px;
    padding-right: 75px;
  } 
.column.left {
    width: 65%;
    padding-left: 75px;
    padding-right: 50px;
  } 
.column.left p{
    max-width: 950px;
  }
.column.right {
    float: right;
    width: 35%;
    max-width: 300px;
    text-align: center;
    padding-left: 20px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
.column.right p{
    padding-left: 10px;
    padding-top: -1px;
    padding-top: -1px;
    text-align: left;
    font-size: small;
  }
.row::after {
    content: "";
    display: table;
    clear: both;
  }
img {
    width: 100%;
    height: auto;
    border: 5px double lightgray;
    border-radius: 5px;
  }
hr.head {
    border: 1px solid #00539B;
    border-radius: 5px;
  }
h2 {
    font-size: x-large;
    position: relative;
    max-width: 950px;
  }
h2 span {
    background-color: white;
    color: #00539B;
  }
h2:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0.5em;
    border-top: 3px solid #00539B;
    z-index: -1;
  }
li {
  max-width: 900px;
}
.pagebody {
  padding: 50px 100px
}
.dropbtn {
  background-color: #012169;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.dropdown {
  display: none;
  overflow: hidden;
  margin: auto;
  float: none;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #012169;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #00539B}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #00539B;
}
.menuicon {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
}
@media only screen and (max-width: 800px) { 
    .column.left {width: 100%; padding-left: 10px; padding-right: 10px;}
    .column.right {width: 100%;}
    .column.right {margin: auto; float: none}
    .column {padding: 10px 10px}
    h2 {font-size: medium;}
    ul {font-size: medium;}
    .pagebody {padding: 10px 10px}
    .topnav {display: none;}
    .dropdown {display: inline-block}
}